In [1]:
from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [2]:
spark=SparkSession.builder.getOrCreate()

In [3]:
employee=spark.read.csv('D:\Python for Data Engineering Project\Jupyter Notebook\Employee Dataset\employee_data.csv',header=True,inferSchema=True)

In [4]:
employee.show(5)

+-----+---------+--------+---------+--------+--------------------+---------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
|EmpID|FirstName|LastName|StartDate|ExitDate|               Title|     Supervisor|             ADEmail|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription|   DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|
+-----+---------+--------+---------+--------+--------------------+---------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
| 3427|    Uriah| Bridges|20-Sep-19|    NULL|Production Techni...|   Peter Oneill|uriah.bridges@bil...|        CCDR|        Active|    Contract| Zone C|                 Temporary|            Unk|                  NULL|Production       |Finance & Accounting|07-10-1969|   MA|            Accounting|    Female|       34904|   White|    Widowed|      Fully Meets|                      4|
| 3428|    Paula|   Small|11-Feb-23|    NULL|Production Techni...|Renee Mccormick|paula.small@bilea...|          EW|        Active|    Contract| Zone A|                 Part-Time|            Unk|                  NULL|Production       |              Aerial|30-08-1965|   MA|                 Labor|      Male|        6593|Hispanic|    Widowed|      Fully Meets|                      3|
| 3429|   Edward|    Buck|10-Dec-18|    NULL|  Area Sales Manager| Crystal Walker|edward.buck@bilea...|          PL|        Active|   Full-Time| Zone B|                 Part-Time|            Unk|                  NULL|            Sales|       General - Sga|06-10-1991|   MA|             Assistant|      Male|        2330|Hispanic|    Widowed|      Fully Meets|                      4|
| 3430|  Michael| Riordan|21-Jun-21|    NULL|  Area Sales Manager| Rebekah Wright|michael.riordan@b...|        CCDR|        Active|    Contract| Zone A|                 Full-Time|            Unk|                  NULL|            Sales|Finance & Accounting|04-04-1998|   ND|                 Clerk|      Male|       58782|   Other|     Single|      Fully Meets|                      2|
| 3431|  Jasmine|   Onque|29-Jun-19|    NULL|  Area Sales Manager|      Jason Kim|jasmine.onque@bil...|         TNS|        Active|    Contract| Zone A|                 Temporary|            Unk|                  NULL|            Sales|       General - Con|29-08-1969|   FL|               Laborer|    Female|       33174|   Other|    Married|      Fully Meets|                      3|
+-----+---------+--------+---------+--------+--------------------+---------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
only showing top 5 rows

In [5]:
employee.printSchema()

root
 |-- EmpID: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- ADEmail: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- TerminationDescription: string (nullable = true)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: integer (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance Score: string (nullable = true)
 |-- Current Employee Rating: integer (nullable = true)

In [6]:
employee=employee.withColumn('StartDate',to_date('StartDate','dd-MMM-yy'))\
    .withColumn('ExitDate',to_date('ExitDate','dd-MMM-yy'))\
    .withColumn('DOB',to_date('DOB','dd-MM-yyyy'))

In [7]:
employee.filter(contains(employee.Supervisor,lit('Jason'))).show()

+-----+---------+--------+----------+----------+--------------------+----------------+--------------------+------------+--------------------+------------+-------+--------------------------+---------------+----------------------+-----------------+----------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
|EmpID|FirstName|LastName| StartDate|  ExitDate|               Title|      Supervisor|             ADEmail|BusinessUnit|      EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription|   DepartmentType|        Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|
+-----+---------+--------+----------+----------+--------------------+----------------+--------------------+------------+--------------------+------------+-------+--------------------------+---------------+----------------------+-----------------+----------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
| 3431|  Jasmine|   Onque|2019-06-29|      NULL|  Area Sales Manager|       Jason Kim|jasmine.onque@bil...|         TNS|              Active|    Contract| Zone A|                 Temporary|            Unk|                  NULL|            Sales|   General - Con|1969-08-29|   FL|               Laborer|    Female|       33174|   Other|    Married|      Fully Meets|                      3|
| 3613|   Amirah| Johnson|2019-02-24|      NULL|Production Techni...|     Jason Owens|amirah.johnson@bi...|          PL|              Active|    Contract| Zone B|                 Part-Time|            Unk|                  NULL|Production       |Field Operations|1973-06-14|   MA|               Laborer|      Male|        9241|   Asian|    Married|          Exceeds|                      1|
| 3650|   Amirah| Stanley|2019-10-03|2022-02-28|Production Techni...|   Jason Jenkins|amirah.stanley@bi...|         PYZ|Voluntarily Termi...|   Full-Time| Zone B|                 Part-Time|     Retirement|  Late least forwar...|Production       |Field Operations|1991-12-25|   MA|               Laborer|    Female|       72818|   White|   Divorced|      Fully Meets|                      3|
| 3803|      Kai|    Holt|2021-02-10|2022-01-01|Production Techni...|     Jason Haley|kai.holt@bilearne...|          PL|        Future Start|    Contract| Zone B|                 Full-Time|    Resignation|  Cup arm drug plac...|Production       |Field Operations|1985-05-12|   MA|            Tower Hand|    Female|       35618|   Black|     Single|      Fully Meets|                      3|
| 3808|    Maria|Gonzalez|2019-04-27|2020-03-20|          IT Support|    Jason Miller|maria.gonzalez@bi...|         PYZ|              Active|    Contract| Zone B|                 Full-Time|    Resignation|  Address control d...|            IT/IS|   General - Sga|1948-01-16|   MA|         Administrator|    Female|        2472|   White|    Widowed|      Fully Meets|                      3|
| 3839|   Dereon|    Page|2021-10-11|      NULL|Sr. Network Engineer|Jason Morris DVM|dereon.page@bilea...|          PL|              Active|    Contract| Zone B|                 Part-Time|            Unk|                  NULL|            IT/IS|   General - Con|2000-09-27|   MA|               Lineman|      Male|       94433|Hispanic|   Divorced|              PIP|                      3|
| 3855|    Brady|   Yoder|2021-05-25|2022-08-13|    Network Engineer|     Jason Patel|brady.yoder@bilea...|         WBL|              Active|   Part-Time| Zone B|                 Part-Time|     Retirement|  Case try necessar...| Executive Office| People Services|1999-10-01|   MA|            Accountant|      Male|       77314|   Other|    Widowed|      Fully Meets|                      3|
| 3973| Brooklyn|  Tanner|2018-09-21|2023-06-22|Database Administ...|      Jason Sims|brooklyn.tanner@b...|         WBL|Terminated for Cause|   Part-Time| Zone C|                 Temporary|    Resignation|  Professor now aud...|            IT/IS|Field Operations|1973-05-22|   TX|               Laborer|    Female|       50856|Hispanic|     Single|          Exceeds|                      3|
| 3989|      Asa|    Pham|2022-07-11|      NULL|             Sr. DBA| Mr. Jason Brock|asa.pham@bilearne...|         TNS|              Active|   Full-Time| Zone C|                 Part-Time|            Unk|                  NULL|            IT/IS|   General - Con|1952-06-18|   MA|               Foreman|    Female|       43953|   Asian|    Widowed|      Fully Meets|                      3|
| 1780|   Colton|  Booker|2022-12-10|2023-02-11|Production Techni...|    Jason Taylor|colton.booker@bil...|         BPC|              Active|    Contract| Zone C|                 Temporary|     Retirement|  Half nice continu...|Production       |Field Operations|1993-07-11|   MA|              Engineer|    Female|       17208|Hispanic|    Widowed|      Fully Meets|                      3|
| 1925|   Jerome| Fischer|2023-04-29|2023-07-07|Production Techni...|     Jason Kelly|jerome.fischer@bi...|        CCDR|              Active|    Contract| Zone B|                 Full-Time|      Voluntary|  Gun better when. ...|Production       |        Splicing|1980-02-13|   MA|               Laborer|      Male|       91520|   Other|   Divorced|      Fully Meets|                      3|
| 2012|  Darnell|   Eaton|2020-01-24|2022-09-14|Production Techni...|   Jason Kennedy|darnell.eaton@bil...|         MSC|              Active|    Contract| Zone B|                 Full-Time|      Voluntary|  Billion turn acco...|Production       |   General - Sga|1984-06-06|   MA|                    Vp|    Female|       44651|   White|     Single|      Fully Meets|                      3|
| 2025|   Shamar|  Herman|2021-01-29|2023-02-12|Production Techni...|   Jason Johnson|shamar.herman@bil...|         MSC|              Active|   Part-Time| Zone C|                 Temporary|    Resignation|  Form prepare beat...|Production       |Field Operations|1975-04-11|   MA|               Laborer|    Female|       90678|   Asian|     Single|      Fully Meets|                      3|
| 2205|      Gia|  Franco|2022-04-13|2023-07-30|Production Techni...|      Jason Boyd|gia.franco@bilear...|         BPC|              Active|   Full-Time| Zone B|                 Full-Time|    Involuntary|  Article machine r...|Production       |   General - Sga|1944-01-13|   MA|         Administrator|    Female|       32235|   Black|   Divorced|Needs Improvement|                      4|
| 2223|     Isla| Hawkins|2020-07-04|      NULL|IT Manager - Support|     Jason Smith|isla.hawkins@bile...|         BPC|              Active|   Full-Time| Zone C|                 Temporary|            Unk|                  NULL|            IT/IS|       Executive|1942-02-18|   MA|                    Vp|    Female|       43748|   Asian|    Widowed|          Exceeds|                      2|
| 2607|   Lamont| Summers|2019-03-29|      NULL|  Area Sales Manager|    Jason Reeves|lamont.summers@bi...|         SVG|              Active|    Contract| Zone B|                 Part-Time|            Unk|                  NULL|            Sales|        Fielders|1976-10-14|   AL|              Engineer|      Male|       89972|   White|    Married|      Fully Meets|                      2|
| 2636|Gwendolyn|   Hogan|2018-09-13|2020-11-04|  Area Sales Manager|     Jason Hayes|gwendolyn.hogan@b...|         PYZ|              Active|   Full-Time| Zone B|                 Temporary|    Resignation|  Almost across fly...|            Sales|   General - Eng|1970-11-20|   MA|            Technician|      Male|       12113|   Asian|    Married|      Fully Meets|                      5|
| 2995|   Ronnie|    Haas|2018-09-03|2018-11-29|Production Techni...|     Jason Huber|ronnie.haas@bilea...|        CCDR|              Active|   Full-Time| Zone A|                 Full-Time|    Resignation|  Training party upon.|Production       |   General - Con|1954-10-17|   MA|            Technician|      Male|       43823|   Other|     Single|Needs Improvement|                      4|
| 3333|     Yael|  Sexton|2023-05-16|      NULL|Production Techni...|     Jason Brady|yael.sexton@bilea...|          EW|              Active|    Contract| Zone B|                 Temporary|            Unk|                  NULL|Production       |Field Operations|1992-10-29|   MA|        Administrative|      Male|       45740|Hispanic|     Single|      Fully Meets|                      3|
+-----+---------+--------+----------+----------+--------------------+----------------+--------------------+------------+--------------------+------------+-------+--------------------------+---------------+----------------------+-----------------+----------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+

In [8]:

employee.where(employee.ExitDate.isNotNull()).count()

1533

In [9]:
employee.where(employee.ExitDate.isNull()).count()

1467

In [10]:
employee.dropDuplicates(['Title']).select('Title').show(truncate=False)

+----------------------------+
|Title                       |
+----------------------------+
|Senior BI Developer         |
|IT Manager - Support        |
|Software Engineering Manager|
|Network Engineer            |
|Principal Data Architect    |
|Sr. DBA                     |
|BI Developer                |
|Production Technician II    |
|Director of Operations      |
|Production Manager          |
|Sr. Accountant              |
|President & CEO             |
|Sr. Network Engineer        |
|IT Manager - Infra          |
|Accountant I                |
|Database Administrator      |
|Data Analyst                |
|Shared Services Manager     |
|Director of Sales           |
|Sales Manager               |
+----------------------------+
only showing top 20 rows

In [11]:
employee.dropDuplicates(['BusinessUnit']).select('BusinessUnit').show(100)

+------------+
|BusinessUnit|
+------------+
|          PL|
|         MSC|
|         PYZ|
|         WBL|
|         SVG|
|         BPC|
|          EW|
|         NEL|
|         TNS|
|        CCDR|
+------------+

In [12]:
employee.dropDuplicates(['EmployeeStatus']).select('EmployeeStatus').show(truncate=False)

+----------------------+
|EmployeeStatus        |
+----------------------+
|Future Start          |
|Terminated for Cause  |
|Active                |
|Leave of Absence      |
|Voluntarily Terminated|
+----------------------+

In [13]:
employee.dropDuplicates(['EmployeeType']).select('EmployeeType').show(truncate=False)

+------------+
|EmployeeType|
+------------+
|Contract    |
|Full-Time   |
|Part-Time   |
+------------+

In [14]:
employee.dropDuplicates(['DepartmentType']).select('DepartmentType').show(truncate=False)

+--------------------+
|DepartmentType      |
+--------------------+
|Sales               |
|Production          |
|Admin Offices       |
|Executive Office    |
|Software Engineering|
|IT/IS               |
+--------------------+

In [15]:
employee=employee.withColumn('DepartmentType',trim(employee.DepartmentType))

In [16]:
employee.filter((employee.FirstName=='Jason') &(employee.LastName.like('%a%'))).show()

+-----+---------+--------+----------+----------+-------------+------------+--------------------+------------+--------------------+------------+-------+--------------------------+---------------+----------------------+--------------+-------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
|EmpID|FirstName|LastName| StartDate|  ExitDate|        Title|  Supervisor|             ADEmail|BusinessUnit|      EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription|DepartmentType|     Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|
+-----+---------+--------+----------+----------+-------------+------------+--------------------+------------+--------------------+------------+-------+--------------------------+---------------+----------------------+--------------+-------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
| 3943|    Jason|  Salter|2019-07-27|2021-07-25|Data Analyst |Lauren Moore|jason.salter@bile...|         NEL|Voluntarily Termi...|   Part-Time| Zone A|                 Part-Time|    Resignation|  Choose system pic...|         IT/IS|General - Eng|1971-08-04|   MA|        Administrative|      Male|        2452|   Black|     Single|      Fully Meets|                      3|
+-----+---------+--------+----------+----------+-------------+------------+--------------------+------------+--------------------+------------+-------+--------------------------+---------------+----------------------+--------------+-------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+

## Find highest rated employee in every department in each zone

In [17]:
df=employee.withColumn('rownum',row_number().over(Window.partitionBy('PayZone','DepartmentType').orderBy(desc('Current Employee Rating'))))
df.filter(df.rownum==1).select('EmpID','FirstName','LastName','PayZone','DepartmentType','Current Employee Rating').show()

+-----+----------+--------+-------+--------------------+-----------------------+
|EmpID| FirstName|LastName|PayZone|      DepartmentType|Current Employee Rating|
+-----+----------+--------+-------+--------------------+-----------------------+
| 2461|    Tucker|    Haas| Zone A|       Admin Offices|                      5|
| 3823|Alexzander|    Pope| Zone A|    Executive Office|                      3|
| 2213|   Branden|    Khan| Zone A|               IT/IS|                      5|
| 3572|   Timothy|Sullivan| Zone A|          Production|                      5|
| 3496|     Aspen| Bentley| Zone A|               Sales|                      5|
| 2550|   Beckett|    Beck| Zone A|Software Engineering|                      5|
| 2283|      Sean|   Quinn| Zone B|       Admin Offices|                      4|
| 3822|   Katrina| Lambert| Zone B|    Executive Office|                      3|
| 2208|      Lisa|   Galia| Zone B|               IT/IS|                      5|
| 3591|  Abdullah| Ellison| Zone B|          Production|                      5|
| 3436|    Joseph| Martins| Zone B|               Sales|                      5|
| 2552|     Jalen|Jennings| Zone B|Software Engineering|                      5|
| 1045|   Elliott|  Ashley| Zone C|       Admin Offices|                      3|
| 3834|   Monique|  Pierce| Zone C|    Executive Office|                      3|
| 2209|      Rick| Clayton| Zone C|               IT/IS|                      5|
| 3561|    Dianna|  Blount| Zone C|          Production|                      5|
| 3485|    Jaiden| Johnson| Zone C|               Sales|                      5|
| 2493|    Connor|Carrillo| Zone C|Software Engineering|                      4|
+-----+----------+--------+-------+--------------------+-----------------------+

## Find how many active employees are in each business unit

In [18]:
employee.filter(employee.EmployeeStatus.like('Active%')).groupBy('BusinessUnit').agg(count("*").alias('count od employees')).show()

+------------+------------------+
|BusinessUnit|count od employees|
+------------+------------------+
|          PL|               246|
|         MSC|               239|
|         PYZ|               250|
|         WBL|               252|
|         SVG|               246|
|         BPC|               243|
|          EW|               245|
|         NEL|               246|
|         TNS|               242|
|        CCDR|               249|
+------------+------------------+

In [22]:
training=spark.read.csv('D:/Python for Data Engineering Project/Jupyter Notebook/Employee Dataset/training_and_development_data.csv',header=True,inferSchema=True)

In [25]:
training.show(5)

+-----------+-------------+---------------------+-------------+----------------+-----------------+-----------------+-----------------------+-------------+
|Employee ID|Training Date|Training Program Name|Training Type|Training Outcome|         Location|          Trainer|Training Duration(Days)|Training Cost|
+-----------+-------------+---------------------+-------------+----------------+-----------------+-----------------+-----------------------+-------------+
|       1001|   2022-09-21|     Customer Service|     Internal|          Failed|        Port Greg|   Amanda Daniels|                      4|       510.83|
|       1002|   2023-07-19| Leadership Develo...|     Internal|          Failed|      Brandonview|Brittany Chambers|                      2|       582.37|
|       1003|   2023-02-24|     Technical Skills|     Internal|      Incomplete|Port Briannahaven|    Mark Roberson|                      4|       777.06|
|       1004|   2023-01-12|     Customer Service|     Internal|       Completed|    Knightborough|   Richard Fisher|                      2|        824.3|
|       1005|   2023-05-12| Communication Skills|     External|          Passed|       Bruceshire|  Heather Shaffer|                      4|       145.99|
+-----------+-------------+---------------------+-------------+----------------+-----------------+-----------------+-----------------------+-------------+
only showing top 5 rows

In [24]:
training=training.withColumn('Training Date',to_date('Training Date','dd-MMM-yy'))

In [32]:
training.dropDuplicates(['Training Program Name']).select('Training Program Name').show(truncate=False)

+----------------------+
|Training Program Name |
+----------------------+
|Communication Skills  |
|Leadership Development|
|Technical Skills      |
|Customer Service      |
|Project Management    |
+----------------------+

In [34]:
training.dropDuplicates(['Location']).select('Location').count()

2738

## Find the most frequent location trainings took place

In [46]:
training.groupBy('Location').agg(count('*').alias('cnt')).filter(count('*')>1).orderBy(desc('cnt')).first()

Row(Location='Smithchester', cnt=6)

In [67]:
training.dropDuplicates(['Training Outcome']).select('Training Outcome').show()

+----------------+
|Training Outcome|
+----------------+
|          Passed|
|       Completed|
|          Failed|
|      Incomplete|
+----------------+

## find total cost for each training program

In [55]:
training.groupBy('Training Program Name').sum('Training Cost').orderBy(desc('sum(Training Cost)')).show()

+---------------------+------------------+
|Training Program Name|sum(Training Cost)|
+---------------------+------------------+
| Communication Skills|365023.24000000017|
|   Project Management|343313.16999999987|
| Leadership Develo...| 323902.0300000001|
|     Technical Skills|323072.61000000016|
|     Customer Service| 320575.0399999999|
+---------------------+------------------+

In [ ]:
training.dropDuplicates(['Trainer']).select('Trainer').count()

## find name,dob,email, supervisor of employees who have successfully completed the each highest costing trainings programs.

In [68]:
temp=training.filter((training['Training Outcome']=='Completed') | (training['Training Outcome']=='Passed')).withColumn('rownum',row_number().over(Window.partitionBy('Training Program Name').orderBy(desc('Training Cost'))))
temp=temp.filter(temp.rownum==1)
temp.join(employee,on=temp['Employee ID']==employee['EmpID'])\
    .select('EmpID','FirstName','LastName','DOB','ADEmail','Training Program Name','Training Cost').show(truncate=False)

+-----+---------+--------+----------+----------------------------+----------------------+-------------+
|EmpID|FirstName|LastName|DOB       |ADEmail                     |Training Program Name |Training Cost|
+-----+---------+--------+----------+----------------------------+----------------------+-------------+
|3503 |Geovanni |Pugh    |1951-07-27|geovanni.pugh@bilearner.com |Technical Skills      |996.35       |
|1438 |Lucian   |Mora    |1977-12-16|lucian.mora@bilearner.com   |Customer Service      |996.18       |
|1604 |Ansley   |Duke    |1976-10-19|ansley.duke@bilearner.com   |Communication Skills  |999.97       |
|1665 |Tania    |Jennings|1963-07-10|tania.jennings@bilearner.com|Project Management    |999.83       |
|2011 |Naomi    |Hardin  |1994-08-06|naomi.hardin@bilearner.com  |Leadership Development|999.96       |
+-----+---------+--------+----------+----------------------------+----------------------+-------------+

## find after how many days each employee took their training after joining, what training they took and whats was the outcome

In [80]:
temp=employee.select('EmpID',concat('FirstName',lit(' '),'LastName').alias('Name'),'StartDate')\
    .join(training,on=training['Employee ID']==employee['EmpID'])
temp.select('EmpID','Name',
            date_diff(training['Training Date'],employee.StartDate).alias('Days after training occured')
            ,'Training Program Name','Training Outcome')\
    .orderBy('EmpID').show()

+-----+----------------+---------------------------+---------------------+----------------+
|EmpID|            Name|Days after training occured|Training Program Name|Training Outcome|
+-----+----------------+---------------------------+---------------------+----------------+
| 1001|   Susan Exantus|                       1119|     Customer Service|          Failed|
| 1002|   Sandra Martin|                        219| Leadership Develo...|          Failed|
| 1003|Keyla Del Bosque|                        -12|     Technical Skills|      Incomplete|
| 1004|    Andrew Szabo|                        958|     Customer Service|       Completed|
| 1005|  Luke Patronick|                        238| Communication Skills|          Passed|
| 1006|  Colby Andreola|                        631|   Project Management|          Failed|
| 1007|     Edward TRUE|                        931| Leadership Develo...|          Failed|
| 1008| Judith Carabbio|                       1435|     Technical Skills|      Incomplete|
| 1009|     Adell Saada|                       1165|     Customer Service|      Incomplete|
| 1010|   Kamari Hunter|                        584| Communication Skills|      Incomplete|
| 1011|    Sarah Malone|                        272| Communication Skills|       Completed|
| 1012|Skyler Blackwell|                        869|     Technical Skills|          Failed|
| 1013|     Jasmin Shah|                       1060|   Project Management|      Incomplete|
| 1014|      Kole Quinn|                         52|     Customer Service|      Incomplete|
| 1015|  Ansley Jackson|                       1622| Leadership Develo...|          Passed|
| 1016|     Jayda Reese|                       1164| Communication Skills|       Completed|
| 1017|Julien Whitehead|                        798|     Technical Skills|          Passed|
| 1018|     Alan Haynes|                       1009|   Project Management|      Incomplete|
| 1019|  Kamryn Herrera|                         12|   Project Management|          Passed|
| 1020|   Kelvin Foster|                       -172|     Technical Skills|          Passed|
+-----+----------------+---------------------------+---------------------+----------------+
only showing top 20 rows

## find how many days each employee worked/is working in the company

In [87]:
employee.select('EmpID',concat('FirstName',lit(' '),'LastName').alias('Name'),date_diff(ifnull('ExitDate',lit(now())),'StartDate')\
                        .alias('experience in company'),'EmployeeStatus')\
    .orderBy('EmpID').show()

+-----+----------------+---------------------+--------------------+
|EmpID|            Name|experience in company|      EmployeeStatus|
+-----+----------------+---------------------+--------------------+
| 1001|   Susan Exantus|                 1614|              Active|
| 1002|   Sandra Martin|                  167|              Active|
| 1003|Keyla Del Bosque|                    7|              Active|
| 1004|    Andrew Szabo|                  280|              Active|
| 1005|  Luke Patronick|                  500|              Active|
| 1006|  Colby Andreola|                   97|              Active|
| 1007|     Edward TRUE|                  336|Voluntarily Termi...|
| 1008| Judith Carabbio|                  250|              Active|
| 1009|     Adell Saada|                 1309|              Active|
| 1010|   Kamari Hunter|                  430|Voluntarily Termi...|
| 1011|    Sarah Malone|                  370|Voluntarily Termi...|
| 1012|Skyler Blackwell|                  209|Voluntarily Termi...|
| 1013|     Jasmin Shah|                 1356|              Active|
| 1014|      Kole Quinn|                  194|              Active|
| 1015|  Ansley Jackson|                 1883|              Active|
| 1016|     Jayda Reese|                  463|              Active|
| 1017|Julien Whitehead|                  464|              Active|
| 1018|     Alan Haynes|                  537|              Active|
| 1019|  Kamryn Herrera|                  287|Voluntarily Termi...|
| 1020|   Kelvin Foster|                   28|Voluntarily Termi...|
+-----+----------------+---------------------+--------------------+
only showing top 20 rows

## how many employees are in PIP in each divisions and how many training were completed/passed for those

In [98]:
temp=training.select('Employee ID','Training Program Name','Training Date','Training Outcome')\
    .join(employee.filter(employee['Performance Score']=='PIP'),on=employee.EmpID==training['Employee ID'])
temp.groupBy('Division').agg(count('EmpID').alias('Count of PIP employees'),
                             sum(when(((training['Training Outcome']=='Completed') |(training['Training Outcome']=='Passed')),1).otherwise(0)\
                                 ).alias('count of total trainings')).show()

+--------------------+----------------------+------------------------+
|            Division|Count of PIP employees|count of total trainings|
+--------------------+----------------------+------------------------+
|        Shop (Fleet)|                     3|                       0|
|    Field Operations|                    26|                      16|
|            Wireless|                     2|                       2|
|            Splicing|                     3|                       1|
|       General - Con|                    15|                       9|
|Project Managemen...|                     1|                       0|
|            Fielders|                     6|                       4|
|         Underground|                     1|                       0|
|           Executive|                     1|                       0|
|                Catv|                     6|                       4|
|Wireline Construc...|                     6|                       3|
|Finance & Accounting|                     3|                       1|
|Project Managemen...|                     6|                       6|
|     Technology / It|                     1|                       0|
|           Engineers|                     5|                       4|
|       General - Sga|                     2|                       2|
|       General - Eng|                     1|                       0|
|              Aerial|                     5|                       1|
+--------------------+----------------------+------------------------+